/*reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*COLORS*/
$black: #000000;
$white: #ffffff;
$darkgray:#4A4A4A;

$teal:#4ABDAC;
$orange: #FC4A1A;
$yellow:#F7B733;
$lightgray:#DFDCE3;

/*GRID*/
.row {
	max-width:980px;
	margin: 0 auto;
	clear:both;
}

.medium-10 {
	width:80%;
}
.medium-6 {
	width:100%;
}
.medium-4 {
	width:33.3%;
	float: left;
}
.medium-3 {
	width:25%;
	float: left;
}
.medium-centered {
	margin: 0 auto;
}

.text-center {text-align: center;}


/*TYPOGRAPHY*/
$sanscond: 'Open Sans Condensed', sans-serif;
$sans: 'Open Sans', sans-serif;

h1,h2, h3, p {
	color:$darkgray;
}

h1 {
	font-family: $sanscond;
	font-size: 40px;
	color: $white;
}
h2 {
	font-family: $sanscond;
	font-size: 24px;
	margin-top:20px;

}
h3 {
	font-family: $sanscond;
	font-size: 18px;
}
p,li,a {
	font-family: $sans;
}
.header-wrapper{
	background-color: $teal;
	padding-bottom: 25px;
	width:100%;
	padding-top:25px;
	text-align: center;
	color:$white;
}
.footer-wrapper {
	background-color: $teal;
	padding-bottom: 25px;
	width:100%;
	padding-top:25px;
	
	
	margin-top: 40px;
	p {
		color:$white;
		line-height: 22px;
		text-align: center;
	}
}



.main-image {
	width:100%;
}



.intro {
	padding: 10px 0; 
	p {
		line-height: 22px;
		margin-bottom: 20px;
	}
	a {
		color:$orange;
	}
}



.listing {
	padding:0 20px;
}
.county {
	h3 {
		margin-bottom: 20px;
		padding-top: 50px;
	}
	li {
		margin-bottom: 25px;
		font-size: 14px;
		line-height: 20px;
		a {
			color:$orange;

		}
	}
	ul {
		padding-right: 25px;
	}
}


/*------------------------
    MEDIA QUERIES
-------------------------*/

@media only screen and (max-width: 639px) {
	h1{
		font-size: 35px;
	}
	.small-6 {
		width:50%;
		float:left;
	}
	.small-hide {
		display: none;
	}
	.medium-4 {
		width:100%;
		float: none;
	}
}


@media only screen and (max-width: 500px) {
	h1{
		font-size: 42px;
		line-height: 50px;
	}
}


